<% provide(:title, "欢迎来到UMarket") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>看看大家的推荐</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>欢迎来到UMarket</h1>
  
    <h2>
      登录账户，看看大家推荐的最火APP！
    </h2>
  
    <%= link_to "加入我们!", 'signup', class: "btn btn-lg btn-primary" %>
    <%= link_to "现在登录!", 'login', class: "btn btn-lg btn-primary" %>
  </div>
  <div class="center jumbotron">
    <%= link_to image_tag("timg.jpg", alt: "Rails logo"),
            'http://www.ucas.ac.cn/' %>
  </div>

<% end %>